.hero {
  position: relative;
  width: 100%;
  /* show a bit of next section */
  height: calc(100vh - var(--nav-h) - 60px);
  min-height: 520px;
  overflow: hidden;
}

.hero__img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__overlay {
  position: absolute;
  left: 40px;
  bottom: 48px;
  max-width: 900px;
  margin: 20px;
  background: rgba(0, 0, 0, 0.45);
  padding: 18px 22px;
  height: auto;
}

.hero__title {
  margin: 0;
  color: #fff;
}

@media (max-width: 900px) {
  .hero__overlay {
    position: absolute;
    left: auto;
    bottom: 48px;
    max-width: 900px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.45);
    padding: 18px 22px;
    height: auto;
  }

  .hero__title {
    margin: 0;
    color: #fff;
    font-size: 20px;
  }
}
